/* module5.css */

/* Lime green background for the VBox with text fields */
.vbox-textfields {
    -fx-background-color: limegreen;
}

/* Light brown background for the VBox with the pane */
.vbox-pane {
    -fx-background-color: #c65b09;
}

/* Dark gray background with white text for TableView column headers */
.table-view .column-header,
.table-view .column-header-background {
    -fx-background-color: darkgray;
    -fx-text-fill: white;
}

/* Brown background for the MenuBar */
.menu-bar {
    -fx-background-color: saddlebrown;
}

/* Add this style for the brown buttons */
.brown-button {
    -fx-background-color: saddlebrown;
    -fx-text-fill: white; /* Optionally, change text color to white for better visibility */
}